.game h1 {
    font-size: 2.5em;
}

.points span {
    font-weight: bold;
}

.tip span {
    color: rgb(42, 0, 77);
}

.wordContainer {
    margin: 1.5em;
    padding: 1.5em;
    border: 10px solid rgb(62, 22, 117);
    display: flex;
}

.letter, .blankSquare {
    font-size: 70px;
    line-height: 1.5;
    border: 3px solid rgb(62, 22, 117);
    height: 100px;
    width: 100px;
    text-transform: uppercase;
    background-color: aliceblue;
    color: black;
    font-weight: bold;
}

.letterContainer p {
    margin-bottom: flex;
    align-items: center;
    justify-content: center;
}

.letterContainer form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.letterContainer input {
    height: 50px;
    width: 50px;
    font-size: 2em;
    text-align: center;
    margin-right: 1em;
}